/* General styling based on eduid.se 2026 */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
}
body {
  color: light-dark(#161616, #f4f4f4);
  background-color: light-dark(#fff, #000);
  background-image: radial-gradient(ellipse at -110% 100%, #f4f4f4 74%, #daede1 74%, #daede1 75%, #fff 75%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Header */
header {
  padding: 1rem;
}

header a {
  display: inline-block;
}

.eduid-logo {
  width: 113px;
  height: 40px;
  background: url(eduid-logo.png) no-repeat;
  background-size: contain;
  display: block;
}

/* Content*/
main {
  flex: 1;
  align-self: center;
  text-align: center;
  padding: 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.75rem;
  margin-bottom: 0.75em;
  font-family: "Inter-Light", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.img-wrapper {
  width: 100%;
  max-width: 504px;
  height: 252px;
  margin: 5rem auto 3rem;
  background: url(fail_snail.png) no-repeat;
  background-size: contain;
}
p {
  color: light-dark(#d2143a, #ff5965);
  font-size: 1.25rem;
}

/* Footer */
footer {
  padding: 1rem 1rem 1.6rem;
}
footer a {
  display: inline-block;
}
.sunet-logo {
  width: 40px;
  height: 50px;
  background: url(sunet_logo.svg) no-repeat;
  background-size: contain;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.125rem;
  }
  .img-wrapper {
    transform: rotate(20deg);
    width: 100%;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(ellipse at -110% 100%, #202020 74%, #273e30 74%, #273e30 75%, #000 75%);
  }
  .eduid-logo {
    background-image: url(eduid-logo-white.svg);
  }
  .sunet-logo {
    background-image: url(sunet_logo_white.svg);
  }
  .img-wrapper {
    background-image: url(fail_snail_white.png);
  }
}

/* Fonts */
@font-face {
  font-family: "Inter-Light";
  src:
    url("fonts/Inter-Light.ttf") format("truetype"),
    url("fonts/Inter-Light.woff") format("woff"),
    url("fonts/Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src:
    url("fonts/Inter-Regular.ttf") format("truetype"),
    url("fonts/Inter-Regular.woff") format("woff"),
    url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
