*,
::after,
::before {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  background-image: radial-gradient(ellipse at -125% 100%, #f4f4f4 74%, #ffe7dd 74%, #ffe7dd 75%, #fff 75%);
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  font-size: 16px;
  font-family: sans-serif;
}

header .eduid-logo {
  width: 113px;
  height: 40px;
  background-image: url(eduid-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
  display: block;
}

main {
  flex: 1;
  align-self: center;
}

h1 {
  text-align: center;
  font-size: 44px;
  margin-bottom: 0.75em;
  font-weight: 200;
}
.snail {
  transform: scaleX(-1);
  max-width: 100%;
}

p {
  color: #c23400;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

footer .sunet-logo {
  width: 40px;
  height: 50px;
  background-image: url(sunet_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
